.section__hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 83% 100%;
    z-index: -1;

        &--content {
            width: 80%;
            color: white;
            text-align: center;
            z-index: 100;
            transform: translateY(80px);

                @media (width>768px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 100;
                right: 0;}

            h1 {
                font-family: $font-title;
                font-size: 1.8rem;
                line-height: 50px;
                text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
                
                @media (width>768px)
                     {font-size: 5rem;
                        line-height: 100px;}
                }
            
            p {
                font-family: $font-main;
                font-size: 1rem;
                margin-top: 20px;

                @media (width>768px) {
                    font-size: 1.4rem;
                    width: 40%;
                    }
                }
                    
            button {
                width: 2.8rem;
                height: 2.8rem;
                color: $color-brand;
                background-color: white;
                border-radius: 50%;
                border: none;
                transform: translateY(70px);

                @media (width>768px) {
                    transform: translateY(20px);                    
                    }
                    
                    i {
                            color: $color-brand;
                            font-size: 1.4rem;
                            transform: rotate(90deg);}
                }
            }
        }
    
