<footer class="footer">
  <button class="footer__button">
    <a href="#hero">
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </button>

    <div class="links">
      <ul class="links__products">
        <li class="links__products--item"><a href="https://adalab.es/">ZAPATILLAS</a></li>
        <li class="links__products--item"><a href="https://adalab.es/">ROPA</a></li>
        <li class="links__products--item"><a href="https://adalab.es/">NIÑO/A</a></li>
        <li class="links__products--item"><a href="https://adalab.es/">DESTACADOS</a></li>
        <li class="links__products--item"><a href="https://adalab.es/">TIPS</a></li>
      </ul>
      <ul class="links__rrss">
        <li class="links__products--item"><a href="https://adalab.es/">TWITTER</a></li>
        <li class="links__products--item"><a href="https://adalab.es/">INSTAGRAM</a></li>
        <li class="links__products--item"><a href="https://adalab.es/">YOUTUBE</a></li>
       </ul>
      
       <div class="links__copy">
       <p>&copy;2023</p>
       <p>we <span>♥</span> run</p>
       </div>
    </div>


</footer>
