<section class="school" id="school">
    <h5>¡Prepáralos con tus marcas favoritas!</h5>
    <h2>VUELTA AL COLE</h2>

    <div class="school__images">
        <load src="/partials/image.html" image="./images/backpack-girl.png" desc="Imagen de una niña con una mochila" image__title="Mochilas escolares"/>
        <load src="/partials/image.html" image="./images/pencilcase-boy.png" desc="Imagen de un niño con un estuche" image__title="Estuches"/>
        <load src="/partials/image.html" image="./images/gymbag-girl.png" desc="Imagen de una niña con una bolsa de deporte" image__title="Bolsas de deporte"/>
    </div>
    
    <button class="school__button">Empezar ahora</button>

</section>